[submodule "budget-app-backend"]
	path = budget-app-backend
	url = https://github.com/hassaan200416/budget-app-backend.git
[submodule "budget-app-frontend"]
	path = budget-app-frontend
	url = https://github.com/hassaan200416/budget-app-frontend.git
